body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

img {
  max-height: 100%; 
  max-width: 100%;
}

.img-container {
  height: 450px;
}


.Countdown{
  margin: 10px auto;
  padding-bottom: 20px;
}

.Countdown-col{
  display: inline-block;
}

.Countdown-col-element{
  display: inline-block;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
}

.Countdown-col-element strong{
  font-size: 5rem;
}